body{
	font: 1em "Helvetica", sans-serif;
	line-height: 1.4;
	font-weight: 200;
}
.wrapper{
	margin-left: 50px;
}
.nav-side{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	max-width: 250px;
	background-color: cornflowerblue;
	box-sizing: border-box;
	padding: 2em;
	color: #FFF;
	margin-left: -250px;
	transition: margin 200ms ease-in-out;
}
.nav-toggle{
	position: absolute;
	right: -40px;
	top: 0;
	width: 40px;
	height: 40px;
	background-color: cornflowerblue;
	border-bottom-right-radius: 3px;
	line-height: 40px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	box-shadow: 1px 0 3px rgba(0,0,0,.1);
}
.nav-toggle:before{
	content: "\2192";
	font-weight: 600;
	color: #FFF;
}
.nav-side.nav-open{
	margin-left: 0px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}
.nav-side.nav-open .nav-toggle:before{
	content: "\2190";
}